.node {
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    display: inline-block;
  }
  
  .finish-node {
    background-color: rgb(182, 0, 0);
  }
  
  .start-node {
    background-color: green;
  }
   
  
