.bar {
    display:flex;
    text-align: center;
    width: 2%;
    margin: 0.5%;
    background-color: aqua;
    display: inline-block;
    align-items: center;
}
.barContainer {
    height: 100%;
    width: 100%; 
    margin: 0;
    padding: 0;
    align-self:stretch;
}
.containingCard {
    width:100%;
    height: 80vh;
}
.outerContainer {
    margin: auto;
    height: 80vh;
    width: 85%;
    align-self:stretch;
}
.barText {
    vertical-align: middle;
}

.rangeText {
    display: inline-block;
    margin: 0.5%;
}
.rangeControl {
    padding: auto;
    margin: auto;
    display: inline-block;
    width: 70%;
}
.controlArea {
    margin: auto;
}
.sortDiv {
    margin: auto;
}
.toggleArea {
    text-align:center;
    align-content: center;
    margin:auto;
}